/* font-weight:
100 - thin
300 - light
400 - regular(normal)
500 - medium
600 - semibold
700 - bold
800 - extrabold
900 - black */

:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --accent-color: #2196f3;
  --main-color: #212121;
  --light-color: #ffffff;
  --secondary-main-color: #757575;
}

body {
  font-family: var(--main-font);
  font-style: normal;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.address {
  font-style: normal;
}

.address-list {
  list-style: none;
}

.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: var(--accent-color);

  text-decoration: none;
}

.logo-color {
  color: var(--main-color);
}

/* ==========  HEADER  ==========*/

.navigation-list-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: var(--main-color);
}

.navigation-list-link-active {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.navigation-list-link:hover,
.navigation-list-link:focus {
  color: var(--accent-color);
}

.header-tel-link,
.header-mail-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;

  color: var(--secondary-main-color);
}

.header-tel-link:hover,
.header-tel-link:focus,
.header-mail-link:hover,
.header-mail-link:focus {
  color: var(--accent-color);
}

/* ==========  END HEADER  ==========*/

/* ==========   HERO   ==========*/

.hero {
  background-color: #2f303a;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.364;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--light-color);
}

.hero-button {
  font-family: var(--main-font);
  font-style: 400;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: var(--light-color);
}

/* ==========   END  HERO   ==========*/

/* ==========   ABOUT   ==========*/

.about-list {
  list-style: none;
}

.about-list-subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-color);
}

.team-list-subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.188;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

.about-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--secondary-main-color);
}

.team-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.188;
  letter-spacing: 0.03em;
  color: var(--secondary-main-color);
}

/* ==========  END  ABOUT   ==========*/

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

/* ==========   FOOTER   ==========*/

.footer {
  background-color: #2f303a;
}

.location {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;

  letter-spacing: 0.03em;
  color: var(--light-color);
}

.footer-logo-color {
  color: var(--light-color);
}

.footer-mail-link,
.footer-tel-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #ffffff99;
}

/* ==========  END  FOOTER   ==========*/

/* ========== BUTTON PORTFOLIO  ==========*/

.portfolio-button-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;

  color: var(--main-color);
}

.portfolio-button-item:hover,
.portfolio-button-item:focus {
  background-color: var(--accent-color);
  color: var(--light-color);
}

/* ========== END BUTTON PORTFOLIO  ==========*/

/* ========== WORK PORTFOLIO  ==========*/

.work-portfolio-subtitle {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-color);
}

.work-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;

  color: var(--secondary-main-color);
}

/* ========== END WORK PORTFOLIO  ==========*/
